html, body {
  margin: 0;
  padding: 0;
}


.mode-btn {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #fff;
  border: none;
  outline: 1px solid gray;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}


.dark-mode {
  background-color: black;
  color: white;
}